{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead mast-about " style="background-image: url({{ url_for('static', filename='img/IMG_2917.JPG')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->

    <div class="row" style="text-align: left">
      <div class="col-lg-8" style="padding: 0% 10%">
        <p>Name: Claudia Church</p>
        <p>Nationality: British</p>
        <p>Profession: Web Developer</p>
        <p>Where you'll find me: anywhere with a view and wifi</p>
        <p>Hobbies: yoga, walking, scuba diving, writing, eating</p>
        <p>About my blog: it will continue to be a work in progress whilst I continue on my web development journey. But most importantly, it will be a  reflection of my travels through Central America & Mexico (for now).  </p>
      </div>
    </div>


  <hr>

  {% include "footer.html" %}